<html ng-app>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
  function TodoCtrl($scope) {
    $scope.hideCompletedItesm = false;
    $scope.todos = [
      {text:'Learn AngularJS', done:false},         
      {text: 'Build an app', done:false}
    ];
  
    $scope.getTotalTodos = function () {
      return $scope.todos.length;
    };
    $scope.addTodo = function () {
      $scope.todos.push({text:$scope.formTodoText, done:false, creationTime:new Date()});
      $scope.formTodoText = '';
    };  
    $scope.clearCompleted = function () {
      $scope.todos = $scope.todos.filter(function(item){
        return !item.done;
      });
    };
  }    
</script>
</head>
<body>

    <div class="container" ng-controller="TodoCtrl">
      <h2>You've got {{getTotalTodos()}} things to do</h2>
      <div class="checkbox"><label><input type="checkbox" ng-model="hideCompletedItesm">Hide completed items</label></div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="todo in todos" ng-hide="todo.done && hideCompletedItesm">
            <input type="checkbox" ng-model="todo.done"/>
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </label>  
        </li>
        <form>
            <input type="text" class="add-input form-control list-group-item" placeholder="I need to..." ng-model="formTodoText" ng-model-instant />
            <button class="add-btn" ng-click="addTodo()" ng-hide="true"><h2>Add</h2></button>
          </form>      
      </ul>
    </div>

  </body>  
</html>